<nav>
  <a href="/" >
    <button type="button" style=" {% if page.url == "/" %} border-color: #0000FF; {% endif %}">
    <font face="Noto Sans, sans-serif" style="font-size: 18pt;"  >
      &ensp;Research&ensp;
    </font>
   </button>
  </a>
  <a href="/publications.html" >
    <button type="button" style="{% if page.url == "/publications.html" %} border-color: #0000FF; {% endif %}">
    <font face="Noto Sans, sans-serif" style="font-size: 18pt;"  >
      &ensp;Publications&ensp;
    </font>
   </button>
  </a>
  <a href="/github.html" >
    <button type="button" style=" {% if page.url == "/github.html" %} border-color: #0000FF; {% endif %}">
    <font face="Noto Sans, sans-serif" style="font-size: 18pt;"  >
      &ensp;Github&ensp;
    </font>
   </button>
  </a>
</nav>
