<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dr David J Webb</title>
  </head>

  <style>
    body {padding-left:25px;}
    body {padding-right:25px;}
  </style>

  <body>
    <h1>
      <img src="./djw_sq2_133.png" name="Image1" align="left" width="223" height="223" border="0"
          alt="Image of David Webb" />
      <font face="Noto Sans, sans-serif" size="5" style="font-size: 20pt">&ensp;
        Dr David J. Webb
      </font>
    </h1>

    <p>
      <font face="Noto Sans, sans-serif" size="2" style="font-size: 12pt">
        &ensp;&ensp;National Oceanography Centre, Southampton, U.K.
      </font>
    </p>

    <p>
      <font face="Noto Sans, sans-serif" size="2" style="font-size: 12pt">
        &ensp;&ensp;Position:	&ensp;&ensp;&ensp;Emeritus Fellow
        <br/>
        &ensp;&ensp;Group:	&ensp;&ensp;&ensp;&ensp;&ensp;Global Climate
        <br/>
        &ensp;&ensp;NOC Page:	&ensp;
        <a href="https://noc.ac.uk/n/David+Webb">https://noc.ac.uk/n/David+Webb</a>
      </font>
    </p>

    <br/><br/><br/>

    <b>
    {% include navigation.html %}
    </b>
    <hr>
    {{ content }}
    <hr>
    <p>&ensp;</p>
  </body>
</html>

